{% import 'components/hero.html' as hero %}
{% extends "base.html" %}

{% block critical_css %}
{{ macros::css(path="layouts/authors.css") }}
{% endblock critical_css %}

{% block header %}
{% set author_count = terms | length %}
{% set author_description = author_count ~ " 个作者" %}
{{ hero::main(isPost=false, page="", title=trans(key="author_title"), description=author_description) }}
{% endblock %}

{% block content %}
{% set sorted_terms = terms | sort(attribute="pages") | reverse %}

<section class="section authors-list-page">
  <div class="container">
    {% for author in sorted_terms %}
    <a class="author-list-item" href="{{ get_taxonomy_url(kind='author', name=author.name) }}" target="_blank"
      title="{{ author.name }}">
      <span class="author-name">{{ author.name }}</span>
      <span class="author-count">{{ author.pages | length }} 篇</span>
    </a>
    {% endfor %}
  </div>
</section>
{% endblock lists %}
