{% import 'components/journal.html' as journal %}
{% import 'components/hero.html' as hero %}
{% extends "base.html" %}

{% block critical_css %}
{{ build::css(path="components/journal.css") }}
{{ build::css(path="components/hero.css") }}
{% endblock critical_css %}

{% block title %}{{ term.name }} - {{ config.title }}{% endblock title %}

{% block meta %}
<meta name="author" content="{{ term.name }}">
<link rel="alternate" type="application/atom+xml" href="{{ term.permalink | safe }}atom.xml" title="{{ config.title }} - {{ term.name }} Atom Feed">
{% endblock %}

{% block structured_data -%}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "{{ term.name }}",
    "url": "{{ current_url | safe }}"
  }
</script>
{%- endblock structured_data %}

{% block header %}
{{ hero::main(isPost=false, page="", title=trans(key="author_title"), name=term.name, kind="author")}}
{% endblock %}

{% block content %}
{{ journal::main() }}
{% endblock content %}
