@use "../config.scss";

.content-container {
  /**
 * Headings
 * -------------------------------------------------------------------------- */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    font-weight: 600;
    outline: none;
  }

  h1 {
    letter-spacing: -0.02em;
    line-height: 40px;
    font-size: 28px;
  }

  h2 {
    margin: 0 0 16px;
    border-top: 1px solid var(--joh-c-divider);
    padding-top: 24px;
    letter-spacing: -0.02em;
    line-height: 32px;
    font-size: 24px;
  }

  h3 {
    margin: 32px 0 0;
    letter-spacing: -0.01em;
    line-height: 28px;
    font-size: 20px;
  }

  h4 {
    margin: 24px 0 0;
    letter-spacing: -0.01em;
    line-height: 24px;
    font-size: 18px;
  }

  .header-anchor {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -0.87em;
    font-weight: 500;
    user-select: none;
    opacity: 0;
    text-decoration: none;
    transition:
      color 0.25s,
      opacity 0.25s;
  }

  .header-anchor:before {
    content: var(--joh-header-anchor-symbol);
  }

  h1:hover .header-anchor,
  h1 .header-anchor:focus,
  h2:hover .header-anchor,
  h2 .header-anchor:focus,
  h3:hover .header-anchor,
  h3 .header-anchor:focus,
  h4:hover .header-anchor,
  h4 .header-anchor:focus,
  h5:hover .header-anchor,
  h5 .header-anchor:focus,
  h6:hover .header-anchor,
  h6 .header-anchor:focus {
    opacity: 1;
  }

  @media (min-width: config.$tablet) {
    h1 {
      letter-spacing: -0.02em;
      line-height: 40px;
      font-size: 32px;
    }
  }

  h2 .header-anchor {
    top: 24px;
  }

  /**
 * Paragraph and inline elements
 * -------------------------------------------------------------------------- */

  p,
  summary {
    margin: 16px 0;
  }

  p {
    line-height: 28px;
  }

  blockquote {
    margin: 16px 0;
    border-left: 2px solid var(--joh-c-divider);
    padding-left: 16px;
    transition: border-color 0.5s;
    color: var(--joh-c-text-2);
  }

  blockquote > p {
    margin: 0;
    font-size: 16px;
    transition: color 0.5s;
  }

  a {
    font-weight: 500;
    color: var(--joh-c-brand-1);
    text-decoration: underline;
    text-underline-offset: 2px;
    transition:
      color 0.25s,
      opacity 0.25s;
  }

  a:hover {
    color: var(--joh-c-brand-2);
  }

  strong {
    font-weight: 600;
  }

  /**
 * Lists
 * -------------------------------------------------------------------------- */

  ul,
  ol {
    padding-left: 1.25rem;
    margin: 16px 0;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li > ol,
  li > ul {
    margin: 8px 0 0;
  }

  /**
 * Table
 * -------------------------------------------------------------------------- */

  table {
    display: block;
    border-collapse: collapse;
    margin: 20px 0;
    overflow-x: auto;
  }

  tr {
    background-color: var(--joh-c-bg);
    border-top: 1px solid var(--joh-c-divider);
    transition: background-color 0.5s;
  }

  tr:nth-child(2n) {
    background-color: var(--joh-c-bg-soft);
  }

  th,
  td {
    border: 1px solid var(--joh-c-divider);
    padding: 8px 16px;
  }

  th {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: var(--joh-c-text-2);
    background-color: var(--joh-c-bg-soft);
  }

  td {
    font-size: 14px;
  }

  /**
 * Decorational elements
 * -------------------------------------------------------------------------- */

  hr {
    margin: 16px 0;
    border: none;
    border-top: 1px solid var(--joh-c-divider);
  }

  mark {
    background: rgba(0, 191, 255, 0.37);
    padding: 1px;
  }
  /**
 * Code
 * -------------------------------------------------------------------------- */

  /* inline code */
  :not(pre, h1, h2, h3, h4, h5, h6) > code {
    font-size: var(--joh-code-font-size);
    color: var(--joh-code-color);
  }

  :not(pre) > code {
    border-radius: 4px;
    padding: 3px 6px;
    background-color: var(--joh-code-bg);
    transition:
      color 0.25s,
      background-color 0.5s;
  }

  a > code {
    color: var(--joh-code-link-color);
  }

  a:hover > code {
    color: var(--joh-code-link-hover-color);
  }

  h1 > code,
  h2 > code,
  h3 > code,
  h4 > code {
    font-size: 0.9em;
  }

  div[data-lang] {
    position: relative;
    margin: 16px -24px;
    background-color: var(--joh-code-block-bg);
    overflow-x: auto;
    transition: background-color 0.5s;
  }

  @media (max-width: 639px) {
    li div[data-lang] {
      border-radius: 8px 0 0 8px;
    }
  }

  div[data-lang] + div[data-lang],
  div[class$="-api"] + div[data-lang],
  div[data-lang] + div[class$="-api"] > div[data-lang] {
    margin-top: -8px;
  }

  [data-lang] pre,
  code[class*="language-"] {
    /*rtl:ignore*/
    direction: ltr;
    /*rtl:ignore*/
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  pre[data-lang] {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 20px 0;
    border-radius: 8px;
    background: transparent;
    overflow-x: auto;
  }

  code[class*="language-"] {
    display: block;
    padding: 0 24px;
    width: fit-content;
    min-width: 100%;
    line-height: var(--joh-code-line-height);
    font-size: var(--joh-code-font-size);
    color: var(--joh-code-block-color);
    transition: color 0.5s;
  }

  code[class*="language-"] .highlighted {
    background-color: var(--joh-code-line-highlight-color);
    transition: background-color 0.5s;
    margin: 0 -24px;
    padding: 0 24px;
    width: calc(100% + 2 * 24px);
    display: inline-block;
  }

  code[class*="language-"] .highlighted.error {
    background-color: var(--joh-code-line-error-color);
  }

  code[class*="language-"] .highlighted.warning {
    background-color: var(--joh-code-line-warning-color);
  }

  code[class*="language-"] .diff {
    transition: background-color 0.5s;
    margin: 0 -24px;
    padding: 0 24px;
    width: calc(100% + 2 * 24px);
    display: inline-block;
  }

  code[class*="language-"] .diff::before {
    position: absolute;
    left: 10px;
  }

  [data-lang] .has-focused-lines .line:not(.has-focus) {
    filter: blur(0.095rem);
    opacity: 0.4;
    transition:
      filter 0.35s,
      opacity 0.35s;
  }

  [data-lang] .has-focused-lines .line:not(.has-focus) {
    opacity: 0.7;
    transition:
      filter 0.35s,
      opacity 0.35s;
  }

  [data-lang]:hover .has-focused-lines .line:not(.has-focus) {
    filter: blur(0);
    opacity: 1;
  }

  code[class*="language-"] .diff.remove {
    background-color: var(--joh-code-line-diff-remove-color);
    opacity: 0.7;
  }

  code[class*="language-"] .diff.remove::before {
    content: "-";
    color: var(--joh-code-line-diff-remove-symbol-color);
  }

  code[class*="language-"] .diff.add {
    background-color: var(--joh-code-line-diff-add-color);
  }

  code[class*="language-"] .diff.add::before {
    content: "+";
    color: var(--joh-code-line-diff-add-symbol-color);
  }

  div[data-lang].line-numbers-mode {
    /*rtl:ignore*/
    padding-left: 32px;
  }

  .line-numbers-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    /*rtl:ignore*/
    left: 0;
    z-index: 3;
    /*rtl:ignore*/
    border-right: 1px solid var(--joh-code-block-divider-color);
    padding-top: 20px;
    width: 32px;
    text-align: center;
    font-family: var(--joh-font-family-mono);
    line-height: var(--joh-code-line-height);
    font-size: var(--joh-code-font-size);
    color: var(--joh-code-line-number-color);
    transition:
      border-color 0.5s,
      color 0.5s;
  }

  [data-lang] > button.copy {
    /*rtl:ignore*/
    direction: ltr;
    position: absolute;
    top: 12px;
    /*rtl:ignore*/
    right: 12px;
    z-index: 3;
    border: 1px solid var(--joh-code-copy-code-border-color);
    border-radius: 4px;
    width: 40px;
    height: 40px;
    background-color: var(--joh-code-copy-code-bg);
    opacity: 0;
    cursor: pointer;
    background-image: var(--joh-icon-copy);
    background-position: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    transition:
      border-color 0.25s,
      background-color 0.25s,
      opacity 0.25s;
  }

  [data-lang]:hover > button.copy,
  [data-lang] > button.copy:focus {
    opacity: 1;
  }

  [data-lang] > button.copy:hover,
  [data-lang] > button.copy.copied {
    border-color: var(--joh-code-copy-code-hover-border-color);
    background-color: var(--joh-code-copy-code-hover-bg);
  }

  [data-lang] > button.copy.copied,
  [data-lang] > button.copy:hover.copied {
    /*rtl:ignore*/
    border-radius: 0 4px 4px 0;
    background-color: var(--joh-code-copy-code-hover-bg);
    background-image: var(--joh-icon-copied);
  }

  [data-lang] > button.copy.copied::before,
  [data-lang] > button.copy:hover.copied::before {
    position: relative;
    top: -1px;
    /*rtl:ignore*/
    transform: translateX(calc(-100% - 1px));
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--joh-code-copy-code-hover-border-color);
    /*rtl:ignore*/
    border-right: 0;
    border-radius: 4px 0 0 4px;
    padding: 0 10px;
    width: fit-content;
    height: 40px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: var(--joh-code-copy-code-active-text);
    background-color: var(--joh-code-copy-code-hover-bg);
    white-space: nowrap;
    content: var(--joh-code-copy-copied-text-content);
  }

  [data-lang] > span.lang {
    position: absolute;
    top: 2px;
    /*rtl:ignore*/
    right: 8px;
    z-index: 2;
    font-size: 12px;
    font-weight: 500;
    color: var(--joh-code-lang-color);
    transition:
      color 0.4s,
      opacity 0.4s;
  }

  [data-lang]:hover > button.copy + span.lang,
  [data-lang] > button.copy:focus + span.lang {
    opacity: 0;
  }
}
