{% extends "base.html" %}

{% block title %}{{ <i18n.t key="tags_title" lang={lang} /> }} - {{ config.title }}{% endblock title %}

{% block class %}
tags
{% endblock %}

{% block critical_css %}
{{ <build.css path="styles/layouts/tags.css" /> }}
{% endblock critical_css %}

{% block header %}
{% set tags_title = <i18n.t key="tags_title" lang={lang} /> %}
{{ <hero.main page="" config={config} lang={lang} isPost={false} name={tags_title} count={terms | length} bg={config.extra.tag_cloud_bg | default(value="")} /> }}
{% endblock %}

{% block content %}
{% set decorated_terms = [[term.pages | length, term] for term in terms] | sort(attribute="0") | reverse %}
{% set sorted_terms = [pair[1] for pair in decorated_terms] %}

{% if sorted_terms %}
  <section class="section tags-list-page">
    <div
      class="container"
      data-page-enter-content>
      {% set cat_order = config.extra.tag_category_order %}
      {% set default_category = config.extra.tag_category_default %}
      {% for cat in cat_order %}
        <section class="tag-category">
          <div class="tag-category-header">
            <h3>{{ cat }}</h3>
          </div>
          <div class="tag-category-list">
            {% for tag in sorted_terms %}
              {% set data = load_data(path="content/tags/" ~ tag.name ~ ".yml", required=false) %}
              {% if (data and data.category == cat) or (not data and cat == default_category) %}
                {{ <tags.tag_link tag={tag} /> }}
              {% endif %}
            {% endfor %}
          </div>
        </section>
      {% endfor %}
    </div>
  </section>
{% endif %}
{% endblock content %}
