{% import 'components/hero.html' as hero %}
{% extends "base.html" %}

{% block header %}
{{ hero::main(isPost=false, page="", name="标签") }}
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    {% for tag in terms %}
    <a class="joh-tag" href="{{ get_taxonomy_url(kind='tags', name=tag.name) }}" target="_blank" title="{{tag.name}}">
      <span>{{tag.name}}</span>
      <span class="tag-count">{{ tag.pages | length }}</span>
    </a>
    {% endfor %}
  </div>
</section>
{% endblock lists %}
