{% import 'components/hero.html' as hero %}
{% extends "base.html" %}

{% block critical_css %}
{{ macros::css(path="layouts/tags.css") }}
{% endblock critical_css %}

{% block header %}
{{ hero::main(isPost=false, page="", name=trans(key="tags_title"), count=terms | length) }}
{% endblock %}

{% block content %}
{% set person_tags = config.extra.tags.people %}
{% set section_tags = config.extra.tags.sections %}
{% set sorted_terms = terms | sort(attribute="pages") | reverse %}

<section class="section tags-list-page">
  <div class="container">
    <section class="tag-category">
      <div class="tag-category-header">
        <h3>{{ trans(key="tag_category_people") }}</h3>
      </div>
      <div class="tag-category-list">
        {% for tag in sorted_terms %}
        {% if tag.name in person_tags %}
        <a class="joh-tag" href="{{ get_taxonomy_url(kind='tags', name=tag.name) }}" target="_blank" title="{{tag.name}}">
          <span>{{tag.name}}</span>
          <span class="tag-count">{{ tag.pages | length }}</span>
        </a>
        {% endif %}
        {% endfor %}
      </div>
    </section>

    <section class="tag-category">
      <div class="tag-category-header">
        <h3>{{ trans(key="tag_category_section") }}</h3>
      </div>
      <div class="tag-category-list">
        {% for tag in sorted_terms %}
        {% if tag.name in section_tags %}
        <a class="joh-tag" href="{{ get_taxonomy_url(kind='tags', name=tag.name) }}" target="_blank" title="{{tag.name}}">
          <span>{{tag.name}}</span>
          <span class="tag-count">{{ tag.pages | length }}</span>
        </a>
        {% endif %}
        {% endfor %}
      </div>
    </section>

    <section class="tag-category">
      <div class="tag-category-header">
        <h3>{{ trans(key="tag_category_misc") }}</h3>
      </div>
      <div class="tag-category-list">
        {% for tag in sorted_terms %}
        {% if tag.name not in person_tags and tag.name not in section_tags %}
        <a class="joh-tag" href="{{ get_taxonomy_url(kind='tags', name=tag.name) }}" target="_blank" title="{{tag.name}}">
          <span>{{tag.name}}</span>
          <span class="tag-count">{{ tag.pages | length }}</span>
        </a>
        {% endif %}
        {% endfor %}
      </div>
    </section>
  </div>
</section>
{% endblock lists %}
