---
layout: page
description: "吹学著作集锦"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <!--<div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>-->
    </a>
    <p class="post-meta">
        原文由{% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %}发布于{{ post.date | date:
        "%Y年%-m月%-d日" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="/">&lsaquo;&lsaquo;</a>
    </li>
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&lsaquo;</a>
    </li>
    {% else %}
    <li class="previous">
        <a style="pointer-events:none;background-color: #ccd0d3">&lsaquo;&lsaquo;</a>
    </li>
    <li class="previous">
        <a style="pointer-events:none;background-color: #ccd0d3">&lsaquo;</a>
    </li>
    {% endif %}

    {% assign max_page_nav_start = paginator.total_pages | minus: 4 | at_least: 1 %}
    {% assign page_nav_start = paginator.page | minus: 2 | at_least: 1 | at_most: max_page_nav_start %}
    {% for page in (page_nav_start..paginator.total_pages) limit: 5 %}
    {% if page == paginator.page %}
    <li>
        <a style="pointer-events:none;background-color: #33adff">{{ page }}</a>
    </li>
    {% elsif page == 1 %}
    <li>
        <a href="/">{{ page }}</a>
    </li>
    {% else %}
    <li>
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: ':num', page }}">{{ page }}</a>
    </li>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: ':num', paginator.total_pages }}">&rsaquo;&rsaquo;</a>
    </li>
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">&rsaquo;</a>
    </li>
    {% else %}
    <li class="next">
        <a style="pointer-events:none;background-color: #ccd0d3">&rsaquo;&rsaquo;</a>
    </li>
    <li class="next">
        <a style="pointer-events:none;background-color: #ccd0d3">&rsaquo;</a>
    </li>
    {% endif %}
</ul>
{% endif %}