---
title: 站内搜索
layout: page
---
<form action="https://www.bing.com/search" method="get">
    <input type="text" name="q" class="form-control" maxlength="255" placeholder="在 bing 搜索">
    <input type="hidden" name="q1" value="site:hibikilogy.github.io">
    <!-- <input type="submit" value="搜索"> -->
</form>
<form onSubmit="return lunr_search(document.getElementById('lunrsearch').value);">
    <p><input type="text" class="form-control" id="lunrsearch" maxlength="255" value="" placeholder="通过 Lunr.js 站内搜索" /></p>
</form>

<div class="container">
	<div class="row">
<!-- NO SIDEBAR -->
    <!-- PostList Container -->
        <div id="lunrsearchresults" class="postlist-container"></div>
    </div>
</div>


<!-- TODO: Pager -->


<script src="/js/lunr.min.js"></script>
<script src="/js/lunr.stemmer.support.js"></script>
<script src="/js/lunr.zh.js"></script> <!-- or any other language you want -->

<script>
{% assign counter = 0 %}
var docs = [
    {% for post in site.posts %}{
    "id": {{ counter }},
    "url": "{{ site.baseurl }}{{ post.url }}",
    "title": "{{ post.title | escape}}",
    "subtitle": "{{ post.subtitle }}",
    "tags"    : "{{ post.tags | join: ', '}}",
    "author": "{{ post.author }}",
    "date" : "{{ post.date | date: "%Y年%-m月%-d日" }}",
    "body": "{{ post.date | date: "%Y/%m/%d" }} - {{ post.content | markdownify | strip_html | strip_newlines | remove_chars_cn }}"
    {% assign counter = counter | plus: 1 %}
    }{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
]

var idx = lunr(function () {
    this.use(lunr.zh);
    this.ref('id')
    this.field('title', { boost: 10 })
    this.field('tags', { boost: 10 })
    this.field('body')
    this.field('author')

    docs.forEach(function (doc) {
        this.add(doc)
    }, this)
})
function lunr_search(term) {
    document.getElementById('lunrsearchresults').innerHTML = '<div></div>';
    if(term) {
        //put results on the screen.
        var results = idx.search(term);
        console.log(term, results);
        if(results.length>0){
            //console.log(results[0]);
            for (var i = 0; i < results.length; i++) {
                // more statements
                var ref = results[i]['ref'];
                var url = docs[ref]['url'];
                var title = docs[ref]['title'];
                //var tags = docs[ref]['tags'];
                var date = docs[ref]['date'];
                var subtitle = docs[ref]['subtitle']?('<h3 class="post-subtitle">'+docs[ref]['subtitle']+'</h3>'):'';
                var author = docs[ref]['author']?(docs[ref]['author']):'';
                document.querySelectorAll('#lunrsearchresults div')[0].innerHTML = document.querySelectorAll('#lunrsearchresults div')[0].innerHTML + 
                '<div class="post-preview"><a href="' + url +'"><h2 class="post-title">' + title +'</h2>'+ subtitle +'</a>'+
                    '<p class="post-meta">原文由' + author +'发布于'+date+'</p></div><hr>'
            }
        } else {
            document.querySelectorAll('#lunrsearchresults div')[0].innerHTML = "<div class='post-preview'>No results found...</div>";
        }
    }
    return false;
}

</script>