{% component accordion.main(type: string = "single", collapsible: bool = false, defaultValue: string = "") %}
{% set accordion_type = type %}
{% set accordion_collapsible = collapsible %}
{% set item_blocks = body | split(pat=":::item ") %}
<div class="joh-accordion" data-accordion data-accordion-type="{{ accordion_type }}" data-accordion-collapsible="{{ accordion_collapsible }}"{% if defaultValue %} data-accordion-default-value='{{ defaultValue | json_encode | safe }}'{% endif %}>
{% for item_block in item_blocks %}
{% if not loop.first and item_block | trim != "" %}
{% set item_sections = item_block | split(pat=":::content") %}
{% set header_and_title = item_sections[0] | split(pat=":::title") %}
{% set item_value = header_and_title[0] | trim %}
{% set item_title = "" %}
{% set item_content = "" %}
{% if header_and_title | length > 1 %}
{% set item_title = header_and_title[1] | trim %}
{% endif %}
{% if item_sections | length > 1 %}
{% set item_content = item_sections[1] | trim %}
{% endif %}
{% set item_title_html = item_title | markdown | replace(from="<p>", to="") | replace(from="</p>", to="") %}
<details class="joh-accordion__item" data-accordion-item data-value="{{ item_value }}">
<summary class="joh-accordion__summary">
<span class="joh-accordion__title">{{ item_title_html | safe }}</span>
<span class="joh-accordion__icon i-custom-down" aria-hidden="true"></span>
</summary>
<div class="joh-accordion__content">
{{ item_content | markdown | safe }}
</div>
</details>
{% endif %}
{% endfor %}
</div>
{% endcomponent accordion.main %}
