{% import 'components/hero.html' as hero %}
{% import 'components/aside.html' as aside %}
{% extends 'base.html' %}

{% block vars %}
{% set katex_enabled = config.extra.katex and config.extra.katex.enabled and page.extra.katex | default(value=false) %}
{% endblock vars %}

{% block class %}
docs
{% endblock %}

{% block meta %}
{% set markdown_url = page.permalink | trim_end_matches(pat="/") %}
<link rel="alternate" type="text/markdown" href="{{ markdown_url | safe }}.md" title="Markdown version">
{% if katex_enabled %}
{{ build::katex_css() }}
{% endif %}
{% endblock %}

{% block critical_css %}
{{ build::css(path="styles/layouts/page.css") }}
{% endblock critical_css %}

{% block header %}
{{ hero::main(isPost=false, page=page, name=page.title) }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="content">
    <section class="content-container">
      <article data-page-enter-content{% if katex_enabled %} data-katex{% endif %}>
        {{ page.content | safe }}
      </article>
    </section>
  </div>
</div>
{% endblock %}

{% block aside %}
{{ aside::main(page=page) }}
{% endblock %}

