{% import 'components/hero.html' as hero %}
{% import 'components/aside.html' as aside %}
{% extends 'base.html' %}

{% block class %}
docs
{% endblock %}

{% block meta %}
{{ build::katex_css() }}
{% endblock %}

{% block critical_css %}
{{ build::css(path="styles/layouts/page.css") }}
{% endblock critical_css %}

{% block header %}
{{ hero::main(isPost=false, page=page, name=page.title) }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="content">
    <section class="content-container">
      <article>
        {{ page.content | safe }}
      </article>
    </section>
  </div>
  {{ aside::main(page=page) }}
</div>
{% endblock %}

