{% extends 'base.html' %}

{% block critical_css %}
{{ <build.css path="styles/layouts/search.css" /> }}
{% endblock critical_css %}

{% block prefetch %}
<link
  rel="prefetch"
  href="{{ get_url(path='search-articles/') }}"
  as="fetch"
  crossorigin="anonymous">
<link
  rel="prefetch"
  href="{{ get_url(path='search-tags/') }}"
  as="fetch"
  crossorigin="anonymous">
{% if config.build_search_index %}
  <link
    rel="prefetch"
    href="{{ get_url(path='search_index.' ~ lang ~ '.json', cachebust=true) }}"
    as="fetch"
    crossorigin="anonymous">
{% endif %}
{% endblock %}

{% block class %}
search
{% endblock %}

{% block content %}
<div
  id="search"
  class="SearchPage"
  data-page-size="{{ config.extra.search_page_size }}">
  <div class="container">
    <div class="content">
      <div class="content-container">
        {% set search_placeholder = <i18n.t key="search_placeholder" lang={lang} /> %}
        {{ <search_shell.main input_id="search-input" transition_name="site-search-trigger" show_submit={true} placeholder={search_placeholder} title="Search" lang={lang} /> }}
      </div>
    </div>
  </div>
  <div class="SearchPageTransitionContent">
    <p
      id="search-message"
      class="SearchMessage t-text-swap"
      aria-live="polite"></p>
    {{ <journal.search /> }}
    {{ <pagination.search lang={lang} /> }}
    <section
      id="search-related-tags"
      class="SearchRelatedTags footer-tags"
      hidden>
      <h3>{{ <i18n.t key="search_related_tags" lang={lang} /> }}</h3>
      <tags-list
        id="search-related-tags-list"
        class="footer-list TagsList"></tags-list>
    </section>
  </div>
</div>
{% endblock %}
