<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="huxblog_navbar">
            <div class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ site.baseurl }}/">主页</a>
                    </li>
                    <li>
                        <a href="/tags">标签</a>
                    </li>
                    <li>
                        <a href="/test">高考试卷</a>
                    </li>
                    <li>
                        <a href="/assessment">能力鉴定</a>
                    </li>
                    <li>
                        <a href="/contribute">我要投稿</a>
                    </li>
                    <li>
                        <a href="/about">加入我们</a>
                    </li>
                </ul> 
                <div class="navbar-nav navbar-right">
                    <form role="search" action="https://www.bing.com/search" method="get" target="_blank">
                        <div class="form-group">
                            <input type="text" name="q" class="form-control search-pc" id="search-bar" placeholder="搜索">
                            <input type="hidden" name="q1" value="site:hibikilogy.github.io">
                        </div>
                    </form>
                </div>
            </div> 
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<script>
    // Drop Bootstarp low-performance Navbar
    // Use customize navbar with high-quality material design animation
    // in high-perf jank-free CSS3 implementation
    var $body   = document.body;
    var $toggle = document.querySelector('.navbar-toggle');
    var $navbar = document.querySelector('#huxblog_navbar');
    var $collapse = document.querySelector('.navbar-collapse');
    var $search = document.querySelector('#search-bar');

    var __HuxNav__ = {
        close: function(){
            $navbar.className = " ";
            $search.className = "form-control search-pc";
            // wait until animation end.
            setTimeout(function(){
                // prevent frequently toggle
                if($navbar.className.indexOf('in') < 0) {
                    $collapse.style.height = "0px"
                }
            },400)
        },
        open: function(){
            $collapse.style.height = "auto";
            $navbar.className += " in";
            $search.className = "form-control ";
        }
    }

    // Bind Event
    $toggle.addEventListener('click', function(e){
        if ($navbar.className.indexOf('in') > 0) {
            __HuxNav__.close()
        }else{
            __HuxNav__.open()
        }
    })

    /**
     * Since Fastclick is used to delegate 'touchstart' globally
     * to hack 300ms delay in iOS by performing a fake 'click',
     * Using 'e.stopPropagation' to stop 'touchstart' event from 
     * $toggle/$collapse will break global delegation.
     * 
     * Instead, we use a 'e.target' filter to prevent handler
     * added to document close HuxNav.  
     *
     * Also, we use 'click' instead of 'touchstart' as compromise
     */
    document.addEventListener('click', function(e){
        if(e.target == $toggle) return;
        if(e.target.className == 'icon-bar') return;
        if(e.target.className.indexOf("form") >= 0) return;
        __HuxNav__.close();
        document.getElementById('searchResults').innerHTML=''
    })
</script>

<style>
#search-bar {
    width: 90%;
    color: #333;
    background-color: rgba(227,231,236,.2);
    margin:7% 5%;
    border: 1px solid #c0c0c0;
    font-size: 70%;
    font-weight: bold;
    border-radius: 16px;
    outline: none;
    box-sizing: border-box;
}
.search-pc {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
#search-bar:focus {
    outline: none;
    border-color: rgb(102, 175, 233);
    background-color: #fff;
}
.search-pc:focus  {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #007fff;
}

</style>
