{# Tag taxonomy helpers #}

{% component tags.tag_link(tag) %}
<a
  class="joh-tag"
  href="{{ get_taxonomy_url(kind='tags', term=tag.name) | trim_end(pat='/') }}"
  title="{{ tag.name }}">
  <span>{{ tag.name }}</span>
  <span class="tag-count">{{ tag.pages | length }}</span>
</a>
{% endcomponent tags.tag_link %}

{% component tags.tags_list(show_count: bool = false) %}
{% set tags = get_taxonomy(kind="tags") %}
{% set decorated_tags = [[tag.pages | length, tag] for tag in tags.items] | sort(attribute="0") | reverse %}
{% for tag in [pair[1] for pair in decorated_tags] %}
  <a
    href="{{ get_taxonomy_url(kind='tags', term=tag.name) | trim_end(pat='/') }}"
    class="joh-tag"
    title="{{ tag.name }}">
    <span>{{ tag.name }}</span>
    {% if show_count %}
      <span class="tag-count">{{ tag.pages | length }}</span>
    {% endif %}
  </a>
{% endfor %}
{% endcomponent tags.tags_list %}

{% component tags.tags_list_for_pages(pages, show_count: bool = false) %}
{% set_global page_tag_names = [] %}
{% for page in pages %}
  {% for tag_name in page.taxonomies.tags | default(value=[]) %}
    {% set_global page_tag_names = [...page_tag_names, tag_name] %}
  {% endfor %}
{% endfor %}

{% set_global decorated_tags = [] %}
{% for tag_name in page_tag_names | unique %}
  {% set_global tag_count = 0 %}
  {% for page in pages %}
    {% if tag_name in page.taxonomies.tags | default(value=[]) %}
      {% set_global tag_count = tag_count + 1 %}
    {% endif %}
  {% endfor %}
  {% set_global decorated_tags = [...decorated_tags, [tag_count, tag_name]] %}
{% endfor %}

{% for pair in decorated_tags | sort(attribute="0") | reverse %}
  <a
    href="{{ get_taxonomy_url(kind='tags', term=pair[1]) | trim_end(pat='/') }}"
    class="joh-tag"
    title="{{ pair[1] }}">
    <span>{{ pair[1] }}</span>
    {% if show_count %}
      <span class="tag-count">{{ pair[0] }}</span>
    {% endif %}
  </a>
{% endfor %}
{% endcomponent tags.tags_list_for_pages %}
