{# Tag taxonomy helpers #}

{% component tags.tag_link(tag) %}
<a
  class="joh-tag"
  href="{{ get_taxonomy_url(kind='tags', term=tag.name) | trim_end(pat='/') }}"
  title="{{ tag.name }}">
  <span>{{ tag.name }}</span>
  <span class="tag-count">{{ tag.pages | length }}</span>
</a>
{% endcomponent tags.tag_link %}

{% component tags.tags_list(show_count: bool = false) %}
{% set tags = get_taxonomy(kind="tags") %}
{% set decorated_tags = [[tag.pages | length, tag] for tag in tags.items] | sort(attribute="0") | reverse %}
{% for tag in [pair[1] for pair in decorated_tags] %}
  <a
    href="{{ get_taxonomy_url(kind='tags', term=tag.name) | trim_end(pat='/') }}"
    class="joh-tag"
    title="{{ tag.name }}">
    <span>{{ tag.name }}</span>
    {% if show_count %}
      <span class="tag-count">{{ tag.pages | length }}</span>
    {% endif %}
  </a>
{% endfor %}
{% endcomponent tags.tags_list %}

{% component tags.tags_list_for_pages(pages, show_count: bool = false) %}
{% set_global page_tag_names = [] %}
{% for page in pages %}
  {% for tag_name in page.taxonomies.tags | default(value=[]) %}
    {% set_global page_tag_names = [...page_tag_names, tag_name] %}
  {% endfor %}
{% endfor %}

{% set page_count = pages | length %}
{% for relevance in range(end=page_count + 1) | reverse %}
  {% if relevance > 0 %}
    {% for tag_name in page_tag_names | unique %}
      {% set_global tag_count = 0 %}
      {% for page in pages %}
        {% set current_page_tags = page.taxonomies.tags | default(value=[]) %}
        {% if tag_name in current_page_tags %}
          {% set_global tag_count = tag_count + 1 %}
        {% endif %}
      {% endfor %}
      {% if tag_count == relevance %}
        <a
          href="{{ get_taxonomy_url(kind='tags', term=tag_name) | trim_end(pat='/') }}"
          class="joh-tag"
          title="{{ tag_name }}">
          <span>{{ tag_name }}</span>
          {% if show_count %}
            <span class="tag-count">{{ tag_count }}</span>
          {% endif %}
        </a>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% endcomponent tags.tags_list_for_pages %}
