.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img:not([src]),
img[src=""] {
  opacity: 0;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input {
  overflow: visible;
}
