@layer components {
  .content-container {
    blockquote[class^='markdown-alert'] {
      margin: 24px 0;
      border-radius: var(--joh-custom-block-border-radius);
      padding: 0.875rem 1rem 1rem;
      background: var(--joh-c-custom-block-bg);
      color: var(--joh-c-text-2);
      font-size: var(--joh-custom-block-font-size);
      line-height: var(--joh-custom-block-line-height);
      transition:
        background-color var(--duration-fast),
        color var(--duration-fast);
    }

    blockquote[class^='markdown-alert']::before {
      display: block;
      margin-bottom: 0.35rem;
      font-size: 0.8125rem;
      font-weight: 700;

      text-transform: uppercase;
      color: var(--joh-c-custom-block-title, var(--joh-c-text-1));
      content: var(--joh-custom-block-title, '');
    }

    blockquote[class^='markdown-alert'] > p {
      margin: 0;
      color: inherit;
    }

    blockquote[class^='markdown-alert'] > p + p,
    blockquote[class^='markdown-alert'] > ul,
    blockquote[class^='markdown-alert'] > ol,
    blockquote[class^='markdown-alert'] > pre {
      margin-top: 0.75rem;
    }

    blockquote.markdown-alert-note {
      --joh-custom-block-title: 'Note';
      --joh-c-custom-block-bg: var(--joh-c-bg-alt);
    }

    blockquote.markdown-alert-tip {
      --joh-custom-block-title: 'Tip';
      --joh-c-custom-block-bg: var(--joh-c-custom-block-tip-bg);
      --joh-c-custom-block-title: var(--joh-c-success-1);
    }

    blockquote.markdown-alert-important {
      --joh-custom-block-title: 'Important';
      --joh-c-custom-block-bg: var(--joh-c-custom-block-important-bg);
      --joh-c-custom-block-title: var(--joh-c-important-1);
    }

    blockquote.markdown-alert-warning {
      --joh-custom-block-title: 'Warning';
      --joh-c-custom-block-bg: var(--joh-c-custom-block-warning-bg);
      --joh-c-custom-block-title: var(--joh-c-warning-1);
    }

    blockquote.markdown-alert-caution {
      --joh-custom-block-title: 'Caution';
      --joh-c-custom-block-bg: var(--joh-c-custom-block-caution-bg);
      --joh-c-custom-block-title: var(--joh-c-caution-1);
    }

    blockquote[class^='markdown-alert'] :not(pre) > code {
      background: var(--joh-c-custom-block-code-bg);
    }
  }
}
