{% component author_profile.main(term, custom_page, lang: string = "") %}
<header class="Hero no-cover">
  <div class="container">
    <div class="author-profile-banner">
      {% if custom_page.avatar %}
        <img
          class="author-avatar"
          src="{{ custom_page.avatar }}"
          alt="{{ term.name }}"
          loading="eager"
          data-page-enter-item
          style="--page-enter-stage: 0"
          width="180"
          height="180"
        />
      {% endif %}
      <h2
        class="author-profile-name"
        data-page-enter-item
        style="--page-enter-stage: 1"
      >
        <span class="author-profile-label">{{<i18n.t key="author_title" lang={lang} />}}</span>
        {{ term.name }}
      </h2>
      {% if custom_page.bio %}
        <p
          class="author-profile-bio"
          data-page-enter-item
          style="--page-enter-stage: 2"
        >{{ custom_page.bio }}</p>
      {% endif %}
      <div class="author-profile-meta" data-page-enter-item style="--page-enter-stage: 3">
        <span class="author-profile-count">
          {{ term.page_count }}{{<i18n.t key="related_articles_suffix" lang={lang} />}}
        </span>
        {% if custom_page.link %}
          {% set domain = custom_page.link
            | trim_start(pat="https://")
            | trim_start(pat="http://")
            | split(pat="/") | first %}
          <a
            class="author-profile-link"
            href="{{ custom_page.link }}"
            target="_blank"
            rel="noopener noreferrer"
          >{{ domain }}<span class="i-custom-link inline-block w-[1.25em] h-[1.25em] align-[-0.125em] ml-[0.25em]"></span></a>
        {% endif %}
      </div>
    </div>
  </div>
</header>
{% endcomponent author_profile.main %}
