{% component footer.main(config, lang: string = "", show_tags: bool = false, show_friendlinks: bool = false, tag_pages = None) %}
{% set has_busuanzi = config.extra.busuanzi | default(value=false) %}
<footer class="Footer" role="contentinfo">
  <div class="container">
    {% if show_tags %}
    <section class="footer-column footer-tags">
      {% for item in config.extra.footer %}
      {% if lang == item.code %}
      <h3>
        <a href="{{ get_url(path='/tags') | trim_end(pat='/') }}" title="{{ get_url(path='/tags') | trim_end(pat='/') }}" aria-expanded="false" aria-label="menu" role="button">
          {{ item.tags_text }}
        </a>
      </h3>
      {% endif %}
      {% endfor %}
      <tags-list class="footer-list TagsList">
        {% if tag_pages %}
        {{<tags.tags_list_for_pages pages={tag_pages} show_count={true} />}}
        {% else %}
        {{<tags.tags_list show_count={true} />}}
        {% endif %}
      </tags-list>
    </section>
    {% endif %}
    {% if show_friendlinks %}
    <section class="footer-column footer-friendlinks">
      {% for item in config.extra.footer %}
      {% if lang == item.code %}
      <h3>{{ item.frendlinks_text }}</h3>
      <div class="footer-list">
        {% for nav in item.frendlinks %}
        {% set friendlink_url = <data.config_link link={nav.link} base_url={config.base_url} /> %}
        <a class="Link link FooterFriendLink" aria-expanded="false" aria-label="menu" role="button"
          href="{{ friendlink_url }}" title="{{ friendlink_url }}" tabindex="0" target="_blank" rel="noopener noreferrer">
          <span>{{ nav.text }}</span><span class="i-custom-link inline-block w-[1.25em] h-[1.25em] align-text-bottom ml-[0.25em]"></span>
        </a>
        {% endfor %}
      </div>
      {% endif %}
      {% endfor %}
    </section>
    {% endif %}
    <section class="footer-column footer-siteinfo">
      <div class="footer-siteinfo-nav">
        {% for item in config.extra.footer %}
        {% if lang == item.code %}
        {% for nav in item.list %}
        {% set nav_url = <data.config_link link={nav.link} base_url={config.base_url} /> %}
        <a class="Link link FooterNavLink" aria-expanded="false" aria-label="menu" role="button"
          href="{{ nav_url }}" title="{{ nav_url }}" tabindex="0"
          {% if nav.type %}type="{{ nav.type }}"{% endif %}>
          <span>{{ nav.text }}</span>
          <span class="icon"></span>
        </a>
        {% endfor %}
        {% set contact_url = <data.config_link link={item.contact.link} base_url={config.base_url} /> %}
        <a class="Link footer-contact-link" rel="noreferrer"
          href="mailto:{{ contact_url }}">
          {{ item.contact.text }}
        </a>
        {% endif %}
        {% endfor %}
      </div>
      {% if has_busuanzi %}
      <script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
      {% endif %}
      <div class="footer-siteinfo-meta">
        {% for item in config.extra.footer %}
        {% if lang == item.code %}
        {% if has_busuanzi %}
        <p class="footer-siteinfo-count">{{item.count}}:
          <span id="busuanzi_value_page_pv"></span>
        </p>
        {% endif %}
        <p class="footer-siteinfo-copyright">{{item.copyright}}</p>
        {% endif %}
        {% endfor %}
      </div>
    </section>
  </div>
</footer>
{% endcomponent footer.main %}
