{% import 'components/nav-screen.html' as navScreen %}
{% import 'components/search_shell.html' as search_shell %}
{% import 'components/hamburger.html' as hamburger %}

{% macro main() %}
<header class="NavBar top">
  <div class="wrapper">
    <div class="container">
      {{ hamburger::main() }}
      {{ navScreen::main() }}
      <div class="title">
        <div class="NavBarTitle">
          <a class="title" href="/">
            <img class="Image logo" src="{{ config.extra.navbar_logo }}" alt>
            <span>{{ config.title }}</span>
          </a>
        </div>
      </div>
      <div class="content">
        <div class="content-body">
          <nav aria-labelledby="main-nav-aria-label" role="navigation" aria-label="section navigation"
            class="NavBarMenu menu">
            <span id="main-nav-aria-label" class="visually-hidden">
              {{ tr::t(key="nav_aria_label") }}
            </span>
            {% for item in config.extra.navbar %}
            {% if lang == item.code %}
            {% for nav in item.list %}
            {% if nav.link %}
            <a class="Link link NavBarMenuLink" aria-expanded="false" aria-label="menu" role="button"
              href="{{ data::config_link(link=nav.link) }}" tabindex="0">
              <span>{{ nav.text }}</span>
            </a>
            {% else %}
            <div class="NavBarMenuGroup">
              <button type="button" class="button" aria-haspopup="true" aria-expanded="false">
                <span class="text">
                  <span>{{ nav.text }}</span>
                  <span class="i-custom-down text-icon"></span>
                </span>
              </button>
              <div class="menu">
                <div class="Menu">
                  <div class="items">
                    {% for _nav in nav.items %}
                    <div class="MenuLink">
                      <a class="Link" href="{{ data::config_link(link=_nav.link) }}"
                        target="_blank" rel="noreferrer">
                        {{ _nav.text }}
                      </a>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
          </nav>
            {% for item in config.extra.slogan %}
            {% if lang == item.code %}
          <a href="/" class="Link link NavBarMenuLink NavBarSocialLink no-hide" aria-expanded="false" aria-label="menu"
            role="button" tabindex="0">
            <span>{{ item.text }}</span>
          </a>
            {% endif %}
            {% endfor %}
          <div class="NavBarSearch search no-hide">
            <div id="docsearch">
              {{ search_shell::main(compact=true, transition_name="site-search-trigger", readonly=true, show_keys=true,
              placeholder=tr::t(key="search_placeholder"), title="Search",
              extra_class="DocSearch-Button", value="") }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider">
      <div class="divider-line"></div>
    </div>
  </div>
</header>
{% endmacro main %}
