{% component toc.main(page, lang: string = "") %}
{% if page.toc and page.extra.toc | default(value=true) != false %}
<nav aria-labelledby="doc-outline-aria-label" class="AsideOutline">
  <div class="content">
    <div class="outline-marker"></div>
    <div aria-level="2" class="outline-title" id="doc-outline-aria-label" role="heading">
      {{<i18n.t key="toc_heading" lang={lang} />}}
    </div>
    <ul class="DocOutlineItem">
      {% for h1 in page.toc %}
        <li>
          <a
            class="outline-link"
            data-no-swup
            href="#{{ h1.id }}"
            title="{{ h1.title }}"
          >{{ h1.title }}</a>
          {% if h1.children %}
            <ul class="DocOutlineItem">
              {% for h2 in h1.children %}
                <li>
                  <a
                    class="outline-link"
                    data-no-swup
                    href="#{{ h2.id }}"
                    title="{{ h2.title }}"
                  >{{ h2.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
{% endif %}
{% endcomponent toc.main %}
