@use '../config.scss';

@layer components {
  .Hero {
    z-index: var(--joh-z-index-header-hero);
    margin-bottom: calc(var(--joh-nav-height) / 2);

    @media (min-width: config.$tablet) {
      margin-bottom: var(--joh-nav-height);
    }

    .container {
      width: 100%;
      height: 100%;

      .post-heading {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-height: 52vh;
        max-height: 600px;
        overflow: hidden;
        background-color: var(--joh-c-hero-heading-bg);
        color: var(--joh-c-white);

        img {
          z-index: 1;
          width: 100%;
          min-height: 52vh;
          object-fit: cover;
          pointer-events: none;

          @media (min-width: config.$tablet) {
            height: 100%;
          }
        }
        .post-heading-gradient-overlay,
        .post-heading-dark-overlay {
          z-index: 2;
          position: absolute;
          inset: 0;
          height: 100%;
          opacity: 0;
          transition: opacity 0.4s ease;
        }

        .post-heading-gradient-overlay {
          background: var(--joh-hero-gradient-overlay);
        }

        .post-heading-dark-overlay {
          background-color: var(--joh-c-hero-overlay);
        }

        &.image-loaded {
          .post-heading-gradient-overlay {
            opacity: 0.8;
          }
          .post-heading-dark-overlay {
            opacity: 1;
          }
        }

        .post-heading-info {
          position: absolute;
          bottom: 0;
          z-index: var(--joh-z-index-layout-top);
          width: 100%;
          height: min-content;
          text-shadow: var(--joh-hero-text-shadow);
        }

        .post-heading-info-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0 auto;
          width: var(--joh-layout-max-width);
          height: min-content;
          padding-bottom: 2rem;
          padding-top: 6rem;

          @media (max-width: config.$laptop) {
            width: 100%;
            padding: 4rem 2rem 2rem 2rem;
          }

          @media (max-width: config.$tablet) {
            width: 100%;
            padding: 4rem 1rem 2rem 1rem;

            h1 {
              width: 100%;
            }
          }

          .post-heading-tags {
            line-height: 24px;
            font-size: 16px;
            margin-bottom: 22px;
            row-gap: 0;
            text-shadow: none;

            @media (min-width: config.$tablet) {
              font-size: 1.125rem;
              line-height: 1.5rem;
            }
          }

          h1 {
            width: 85%;
            font-weight: 900;
            font-size: 30px;
            line-height: 36px;
            font-family: var(--joh-font-family-serif);
            letter-spacing: 0em;

            font-variation-settings: 'opsz' auto;
            font-feature-settings: 'kern' on;

            @media (max-width: config.$mobile) {
              width: 100%;
            }

            @media (min-width: config.$tablet) {
              font-size: 3.4375rem;
              line-height: 3.9375rem;
            }

            @media (min-width: config.$laptop) {
              line-height: 60px;
            }
          }

          .post-heading-subtitle {
            font-size: 20px;
            margin-top: 8px;
            line-height: 30px;
            font-weight: bold;

            @media (min-width: config.$tablet) {
              font-size: 1.125rem;
              line-height: 1.875rem;
            }
          }

          .post-heading-meta {
            margin-top: 34px;
            display: flex;
            flex-direction: row;
            font-size: 16px;
            font-weight: normal;
            white-space: nowrap;

            @media (max-width: config.$laptop) {
              font-size: 0.875rem;
            }

            .article-publish-date {
              order: 2;
            }

            .article-authors {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              gap: 0.25rem;
              margin-right: 1rem;

              .author-separator {
                margin-right: 0.25rem;
              }
            }

            .article-author {
              margin-right: 0;

              .author-name {
                font-weight: 700;
              }
            }
          }
        }
      }

      .taxonomies-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 190px;
        background-color: var(--joh-c-hero-banner-bg);

        &.has-bg {
          background-image: var(--joh-hero-bg);
          background-position: center 0;
          background-size: cover;
          background-repeat: no-repeat;

          @media (max-width: config.$mobile) {
            background-position: -10%;
          }
        }
      }

      .taxonomies-meta {
        position: absolute;

        h2 {
          font-size: 2.25rem;
          color: var(--joh-c-neutral-inverse);
          font-weight: bold;
          &::before {
            margin-right: 6px;
            font-weight: bold;
          }
        }

        p {
          font-size: 1rem;
          line-height: 30px;
          color: var(--joh-c-text-muted);
          text-align: center;
          margin-top: 1rem;
        }

        .banner-title {
          color: var(--joh-c-text-muted);
        }
      }
    }
  }

  .Hero.no-cover {
    .post-heading-gradient-overlay,
    .post-heading-dark-overlay {
      display: none;
    }
  }
}
