@use '../config.scss';
@use '../components/hero.scss';
@use '../components/medium-zoom.scss';
@use '../components/toc.scss';
@use '../components/footnotes.scss';
@use '../components/code.scss';
@use '../components/custom-block.scss';
@use '../components/content.scss';
@use '../components/accordion.scss';
@use '../components/collapsible.scss';
@use '../components/bilibili-iframe.scss';

@layer pages {
  /* Post page: transparent navbar over hero cover */

  .post > #app > .Layout > .NavBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;

    .divider {
      display: none;
    }
  }

  .post > #app > .Layout > .NavBar:has(+ .has-cover):not(.open) {
    .NavBarTitle > .title,
    a.NavBarMenuLink.Link {
      color: var(--joh-c-white);
    }

    .NavBarTitle .logo {
      filter: brightness(0) invert(1);
      transition: filter 0.5s ease;
    }

    .NavBarHamburger .container > span {
      background-color: var(--joh-c-white);
    }

    @media (max-width: config.$tablet) {
      .SearchShellIcon {
        background-color: var(--joh-c-white) !important;
      }
    }
  }

  .post .Footer,
  .docs .Footer,
  .tags .Footer,
  .author .Footer {
    margin-top: 2rem;

    @media (min-width: config.$tablet) {
      margin-top: 3rem;
    }
  }
}
