{# Data utilities — return strings, no HTML output #}

{% macro cover_url(page, default="") -%}
{%- if page.extra.cover -%}
{%- set cover = page.extra.cover | trim -%}
{{- data::resolve_url(path=cover) -}}
{%- elif default -%}
{{- data::resolve_url(path=default) -}}
{%- endif -%}
{% endmacro %}

{% macro config_link(link) -%}
{{- link | replace(from='$BASE_URL', to=config.base_url) -}}
{%- endmacro %}

{% macro resolve_url(path="") -%}
{%- if path is starting_with("http://") or path is starting_with("https://") -%}
{{- path | trim -}}
{%- else -%}
{{- get_url(path=path) | trim -}}
{%- endif -%}
{% endmacro %}

{% macro post_title_transition_name(page) -%}
{%- set id = page.slug | default(value=page.relative_path | default(value=page.path | default(value=page.permalink))) -%}
{%- set name = "post-title-" ~ id -%}
{{- name | replace(from="/", to="-") | replace(from=".", to="-") -}}
{% endmacro %}
