@layer utilities {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
  }

  .hide-in-mobile {
    @media (max-width: 719px) {
      display: none;
    }
  }

  .hide-in-pad {
    @media (max-width: 959px) {
      display: none;
    }
  }
}
