/* layer: properties */
@supports ((-webkit-hyphens: none) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color:rgb(from red r g b)))){*, ::before, ::after, ::backdrop{--un-text-opacity:100%;--un-bg-opacity:100%;}}
@property --un-text-opacity{syntax:"<percentage>";inherits:false;initial-value:100%;}
@property --un-bg-opacity{syntax:"<percentage>";inherits:false;initial-value:100%;}
/* layer: theme */
:root, :host {
--fontWeight-bold: 700;
--spacing: 0.25rem;
--radius-DEFAULT: 0.25rem;
--colors-red-500: oklch(63.7% 0.237 25.331);
--colors-blue-100: oklch(93.2% 0.032 255.585);
--colors-blue-800: oklch(42.4% 0.199 265.638);
--colors-green-100: oklch(96.2% 0.044 156.743);
--colors-green-800: oklch(44.8% 0.119 151.328);
--text-lg-fontSize: 1.125rem;
--text-lg-lineHeight: 1.75rem;
}
/* layer: preflights */

          .joh-tag::before {
            content: var(--joh-header-anchor-symbol);
            color: var(--footer-directory-title-color);
            font-weight: 500;
            user-select: none;
            text-decoration: none;
          }
        
/* layer: icons */
.i-custom-down{background:url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='none' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg%3E%3Cg%3E%3Cpath d='M4.707120480072022,10.121496749267578L11.207398480072023,16.62143674926758C11.221178480072021,16.635206749267578,11.235258480072021,16.64849674926758,11.249618480072021,16.661306749267577C11.26347848007202,16.677006749267576,11.277918480072021,16.692386749267577,11.29293848007202,16.707406749267577C11.683458480072021,17.09792674926758,12.316628480072023,17.09792674926758,12.70716848007202,16.707386749267577L19.20715848007202,10.207086749267578C19.59765848007202,9.816556749267578,19.59765848007202,9.183408749267578,19.20705848007202,8.792892749267578C18.816558480072022,8.402368049267578,18.18345848007202,8.402368049267578,17.79285848007202,8.792910749267579L12.000228480072021,14.585866749267577L6.121298480072022,8.707248749267578C5.7307684800720216,8.316742549267579,5.097618480072022,8.316751049267578,4.707101480072022,8.707267749267578C4.316576980072021,9.097792749267578,4.316576980072021,9.730956749267579,4.707120480072022,10.121496749267578Z' fill-rule='evenodd' fill='%23222222' fill-opacity='1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat;background-size:100% 100%;background-color:transparent;width:24;height:24;}
/* layer: default */
.text-lg{font-size:var(--text-lg-fontSize);line-height:var(--un-leading, var(--text-lg-lineHeight));}
.text-blue-800,
[text~="blue-800"]{color:color-mix(in srgb, var(--colors-blue-800) var(--un-text-opacity), transparent) /* oklch(42.4% 0.199 265.638) */;}
.text-green-800{color:color-mix(in srgb, var(--colors-green-800) var(--un-text-opacity), transparent) /* oklch(44.8% 0.119 151.328) */;}
.text-red-500{color:color-mix(in srgb, var(--colors-red-500) var(--un-text-opacity), transparent) /* oklch(63.7% 0.237 25.331) */;}
[color~="\#5bbad5"]{color:color-mix(in oklab, #5bbad5 var(--un-text-opacity), transparent) /* #5bbad5 */;}
.font-bold{--un-font-weight:var(--fontWeight-bold);font-weight:var(--fontWeight-bold);}
.mb-1{margin-bottom:calc(var(--spacing) * 1);}
.mb-4{margin-bottom:calc(var(--spacing) * 4);}
.mt-8{margin-top:calc(var(--spacing) * 8);}
.px-2,
[p~="x-2"]{padding-inline:calc(var(--spacing) * 2);}
.py-1,
[p~="y-1"]{padding-block:calc(var(--spacing) * 1);}
.pl-6{padding-left:calc(var(--spacing) * 6);}
.text-center{text-align:center;}
.align-sub{vertical-align:sub;}
.-b{border-width:-1px;}
.rounded,
[rounded=""]{border-radius:var(--radius-DEFAULT);}
.bg-blue-100,
[bg~="blue-100"]{background-color:color-mix(in srgb, var(--colors-blue-100) var(--un-bg-opacity), transparent) /* oklch(93.2% 0.032 255.585) */;}
.bg-green-100{background-color:color-mix(in srgb, var(--colors-green-100) var(--un-bg-opacity), transparent) /* oklch(96.2% 0.044 156.743) */;}
.flex,
[flex~="\~"]{display:flex;}
.flex-wrap,
[flex~="wrap"]{flex-wrap:wrap;}
.gap-2,
[gap-2=""]{gap:calc(var(--spacing) * 2);}
.gap-x-8{column-gap:calc(var(--spacing) * 8);}
.gap-y-1{row-gap:calc(var(--spacing) * 1);}
.grid{display:grid;}
.grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
.h-\[1\.25em\]{height:1.25em;}
.h1{height:calc(var(--spacing) * 1);}
.h2{height:calc(var(--spacing) * 2);}
.w-\[1\.25em\]{width:1.25em;}
.w-full{width:100%;}
.inline{display:inline;}
.block,
[block=""]{display:block;}
.inline-block{display:inline-block;}
[hidden=""]{display:none;}
.italic{font-style:italic;}
.z2{z-index:2;}
[fill-opacity~="\31 "]{--un-fill-opacity:1%;}
@supports (color: color-mix(in lab, red, red)){
.text-blue-800{color:color-mix(in oklab, var(--colors-blue-800) var(--un-text-opacity), transparent) /* oklch(42.4% 0.199 265.638) */;}
.text-green-800{color:color-mix(in oklab, var(--colors-green-800) var(--un-text-opacity), transparent) /* oklch(44.8% 0.119 151.328) */;}
.text-red-500{color:color-mix(in oklab, var(--colors-red-500) var(--un-text-opacity), transparent) /* oklch(63.7% 0.237 25.331) */;}
[text~="blue-800"]{color:color-mix(in oklab, var(--colors-blue-800) var(--un-text-opacity), transparent) /* oklch(42.4% 0.199 265.638) */;}
.bg-blue-100{background-color:color-mix(in oklab, var(--colors-blue-100) var(--un-bg-opacity), transparent) /* oklch(93.2% 0.032 255.585) */;}
.bg-green-100{background-color:color-mix(in oklab, var(--colors-green-100) var(--un-bg-opacity), transparent) /* oklch(96.2% 0.044 156.743) */;}
[bg~="blue-100"]{background-color:color-mix(in oklab, var(--colors-blue-100) var(--un-bg-opacity), transparent) /* oklch(93.2% 0.032 255.585) */;}
}