@use '../config.scss';

@layer layouts {
  .Layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .Content {
    flex: 1;
    width: 100%;

    &:not(.has-aside) > .container > .Aside {
      display: none;
    }

    .container {
      margin: 0 auto;
      max-width: var(--joh-layout-max-width);
    }

    .content {
      min-width: 0;
    }

    @media (min-width: config.$mobile) {
      padding: 0px 16px;
    }

    @media (min-width: config.$tablet) {
      padding: 0 32px;
    }

    @media (min-width: config.$laptop) {
      & .container {
        display: flex;
        justify-content: center;
      }

      & .Aside {
        display: block;
      }
    }
  }
}
