{% macro main(isPost=true, page="", title="", name="", kind="none") %}
<header class="Hero">
  <div class="container">
    {% if isPost %}
    <div class="post-heading">
      <img src="{% if page.extra.cover %} {{page.extra.cover}} {% else %} /imgs/tag-cloud.svg {% endif %}"
        class="post-heading-bg {% if not page.extra.cover %}default-bg{% endif %}">
      <div class="post-heading-info">
        <div class="post-heading-info-container">
          <div class="post-heading-tags">
            {% if page.taxonomies.tags %}
            {{ macros::post_tags_list(page=page) }}
            {% endif %}
          </div>
          <h1 class="post-heading-title">
            {{ page.title }}
          </h1>
          <p class="post-heading-subtitle">{{ page.description }}</p>
          <div class="post-heading-meta">
            {{ macros::page_publish_metadata(page=page) }}
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="taxonomies-banner">
      <div class="taxonomies-meta">
        <h2 class="title">
          <span class="banner-title">{{ title }}</span>
          {{ name }}
        </h2>
        {% if kind != "none" %}
        {% set term = get_taxonomy_term(kind=kind, term=name) %}
        <p class="description">{{ term.page_count }}篇相关文章</p>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</header>

{% if page.extra.cover %}
<style>
  .post>#app>.Layout>.NavBar {
    background: linear-gradient(180deg, #ffffff 0%, rgba(216, 216, 216, 0) 100%);
  }
</style>
{% endif %}
{% endmacro %}
