@import '../lib/media.css';

@layer layouts {
  .Layout {
    --joh-sticky-nav-offset: var(--joh-nav-height);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .Content {
    flex: 1;
    width: 100%;
    min-height: calc(100svh - var(--joh-nav-height));

    &:not(.has-aside) > .container > .Aside {
      display: none;
    }

    .container {
      margin: 0 auto;
      max-width: var(--joh-layout-max-width);
    }

    .content {
      min-width: 0;
    }

    @media (--mobile) {
      padding: 0px 16px;
    }

    @media (--tablet) {
      padding: 0 32px;
    }

    @media (--laptop) {
      & .container {
        display: flex;
        justify-content: center;
      }

      & .content {
        flex: 1;
      }

      & .Aside {
        display: block;
      }
    }
  }
}
